@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;
  transition: all 400ms ease;
 
}

body {
  @apply bg-color-bg scrollbar scrollbar-track-color-bg-variant/20 scrollbar-thumb-color-primary/80
}

@layer components {
  .contactInput {
    @apply outline-none bg-color-bg-variant rounded-sm border-b px-6 py-4 border-[#242424] text-color-light placeholder-gray-500 transition-all focus:border-[#335E82]/70 focus:text-[#FFFFFF] hover:border-[#335E82]/70
  }
}